<div *ngIf="user">
  <form (ngSubmit)="createUser()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName">
    </div>    
    <div class="form-group">
      <label>Avatar</label>
      <input type="text" class="form-control" name="avatar" [(ngModel)]="user.avatar">
    </div>

    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <button type="submit" class="btn btn-success">Create User</button>
  </form>
</div>